@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap");


* {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}


body {
    max-width: 1400px;
    margin: auto;
    padding: 0 15px;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 19px;
    width: 61px;
    padding: 40px 0 0 0;
    box-sizing: content-box;
}

.menu {
    height: 80px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 16px;
    font-weight: 400;
}

li {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: black;
}

.linksHeaderGroup {
    text-align: center;
    margin-top: 0;
}

a:hover {
    color: #0065FC;
}

.linksHeader {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    border-top: 4px solid;
    color: white;
}

.linksHeader:hover {
    border-top: 4px solid;
    color: #0065FC;
}

.recherche {
    padding-left: 5px;
}

h1 {
    font-size: 22px;
    position: relative;
    top: 10px;
}

h2 {
    font-size: 22px;
}

h3 {
    max-height: 65px;
    overflow: hidden;
}

p {
    font-size: 16px;
}


.barreRecherche {
    display: flex;
    margin: 0;
    padding: 0;
}

.lieu1 {
    width: 50px;
    height: 51px;
    background: #D9D9D9;
    border: 1px solid #D9D9D9;
    border-radius: 15px 0 0 15px;
    position: relative;
    font-size: 16px;
}

.lieu2 {
    width: 230px;
    height: 51px;
    border: 1px solid #D9D9D9;
    font-size: 16px;
    font-weight: bold;
    padding: 0 5px 0 5px;
    position: relative;
}

input.lieu2:focus {
    outline: none;
}

.lieu3 {
    width: 159px;
    height: 51px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    left: -10px;
}

.lieu4 {
    width: 51px;
    height: 51px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    visibility: hidden;
}

.filtres {
    display: flex;
    align-items: center;
    padding: 20px 0 0 0;
}

.filtreBouton {
    height: 50px;
    background: #ffffff;
    border: 2px solid #D9D9D9;
    border-radius: 25px 25px 25px 25px;
    position: relative;
    font-size: 17px;
    font-weight: 700;
    padding: 0 15px 0 15px;
    margin-left: 45px;
}

.filtreBouton i {
    color: #0065FC;
    padding: 0 8px 0 0;
    font-size: 20px;
}

.filtreBouton:hover {
    background: #DEEBFF;
}

.information {
    display: flex;
    align-items: center;
}

.info {
    height: 20px;
    width: 20px;
    border: 1px solid #D9D9D9;
    border-radius: 25px 25px 25px 25px;
    background: #ffffff;
    color: #0065FC;
    margin: 0 10px 0 0;
}

.hebergement {
    display: flex;
}

article {
    background: #D9D9D9;
    border-radius: 20px;
    width: 67%;
    padding: 25px 0 30px 0;
    margin-right: 3%;
}

.titleHebergement {
    margin-left: 6%;
}

.cardList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 27%;
    background: #ffffff;
    border-radius: 20px;
    margin: 2%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

/* Add some padding inside the card container*/
.cardComments {
    padding: 2px 16px 5px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardCommentsWritten {
    overflow: hidden;
}

.photo {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    width: 96%;
    height: 124px;
    object-position: 50% 50%;
    margin: 5px 5px 0 5px;
}

.hotelName {
    margin: 5px 0 0 0;
    font-weight: bold;
}

.price {
    font-size: 14px;
    margin: 5px 0 0 0;
}

.starGroup {
    padding: 5px 0 5px 0;
    margin: 0;
}

.starBlue {
    color: #0065FC;
    padding-right: 2px;
}

.starGrey {
    color: #D9D9D9;
    padding-right: 2px
}

aside {
    background: #D9D9D9;
    border-radius: 20px;
    width: 30%;
    padding: 25px 0 20px 0;
}

.cardPopular {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* justify-content ne fonctionne pas ici ; pourquoi ? Du coup j'ai maintenu la marge de 3% ci-dessous*/
    align-items: center;
    width: 100%;
}

.titlePopular {
    margin-left: 8%;
}

.headerPopular i {
    position: relative;
    top: 20px;
    margin-right: 10%;
    color: #0065FC;
    font-size: 18px;
}

.linkPopular {
    width: 88%;
}

.popular {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background: #ffffff;
    border-radius: 20px;
    margin: 3%;
    display: flex;
    padding-right: 10px;
}

.popular:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.photoPopular {
    border-radius: 20px 0 0 20px;
    object-fit: cover;
    width: 37%;
    height: 144px;
    object-position: 50% 50%;
    margin: 5px;
    flex-shrink: 0;
}

.cardCommentsWritten {
    padding-top: 10px;
}

.activitesMarseille {
    margin-top: 50px;
}

.marseille {
    display: flex;
    justify-content: space-between;
}

.cardBig {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 22.5%;
    background: #ffffff;
    border-radius: 20px;
    margin-top: 1%;
}

/* On mouse-over, add a deeper shadow */
.cardBig:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.photoBig {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    width: 100%;
    height: 445px;
    object-position: 50% 50%;
}

footer {
    display: flex;
    background-color: #D9D9D9;
    margin-top: 50px;
}

.detailFooter {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-left: 5%;
    padding-top: 30px;
    padding-bottom: 25px;
    margin-right: 6%;
}

.titleFooter {
    margin: 0;
}

.linksFooter {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-left: 0;
    width: auto;
}

/* Format tablette*/

@media screen and (max-width: 991.5px) {

    body {
        padding: 0 15px;
    }

    main {
        margin: auto;
    }

    .filtreTag {
        justify-content: space-evenly;
        padding-left: 0;
    }

    .filtreTag li {
        margin-left: 10px;
    }

    .filtreBouton {
        overflow: hidden;
        font-size: 85%;
        margin-left: 10px;
    }

    .hebergement {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    aside {
        background: #D9D9D9;
        border-radius: 20px;
        width: 100%;
        padding: 25px 0 20px 0;
        margin-top: 50px;
    }

    article {
        background: #D9D9D9;
        border-radius: 20px;
        width: 100%;
        padding: 25px 0 30px 0;
        margin-right: 3%;
    }

    .titlePopular {
        margin-left: 6%;
    }

    .headerPopular i {
        align-self: flex-end;
        position: relative;
        top: -20px;
        left: 4%;
    }

    .cardPopular {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .linkPopular {
        width: 29%;
        margin: 1%;
    }

    .popular {
        padding-right: 5px;
    }

    .cardComments {
        padding-left: 10px;
        padding-right: 10px;
    }

    .marseille {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .cardBig {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 22.5%;
        background: #ffffff;
        border-radius: 20px;
        margin-top: 1%;
    }

    .photoBig {
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        width: 100%;
        height: 211px;
        object-position: 50% 50%;
    }

    footer {
        display: flex;
        background-color: #D9D9D9;
        margin-top: 50px;
        width: 100%;
    }
}

/* Format mobile*/

@media screen and (max-width: 767.5px) {


    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .recherche {
        padding-left: 20px;
        padding-right: 20px;
    }

    .menu,
    .linksHeaderGroup,
    .linksHeader {
        width: 100%;
        justify-content: space-around;
        padding: 0;
        margin: 15px 0 0 0;
    }

    .linksHeader {
        border-top: none;
        padding-bottom: 20px;
        border-bottom: 4px solid;
        color: white;
    }

    .linksHeader:hover {
        border-top: none;
        border-bottom: 4px solid;
        color: #0065FC;
    }

    .barreRecherche {
        justify-content: center;
    }

    .lieu3 {
        /*visibility: hidden;*/
        display: none;
    }

    .lieu4 {
        visibility: visible;
        position: relative;
    }

    .filtres {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .filtres h3 {
        display: flex;
        align-self: flex-start;
    }

    .filtres h2 {
        font-size: 18px;
        position: relative;
        left: 15%;
    }

    .filtreTag {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 0;
    }

    .filtreTag li {
        width: 48%;
        margin-left: 0;
    }

    .filtreBouton {
        font-size: 11px;
        font-weight: 700;
        width: 100%;
        text-align: left;
        padding-left: 5px;
        align-items: center;
        display: inline-flex;
        margin-bottom: 10px;
    }

    .filtreBouton i {
        width: 25px;
    }

    .hebergement {
        flex-direction: column-reverse;
    }

    article {
        background-color: #ffffff;
    }

    .titleHebergement,
    .titlePopular,
    .titleActivites {
        margin-left: 2%;
    }

    .cardList {
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 96%;
    }

    aside {
        border-radius: 0;
    }

    .headerPopular {
        justify-content: space-between;
        align-items: start;
    }

    .headerPopular i {
        align-self: flex-end;
        position: relative;
        top: -40px;
        left: 7%;
    }

    .cardPopular {
        flex-direction: column;
    }

    .linkPopular {
        width: 100%;
    }

    .cardBig {
        width: 96%;
        margin: 2%;
    }

    .popular {
        width: 94%;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .activitesMarseille,
    .marseille {
        flex-direction: column;
        align-items: center;
    }

    footer {
        flex-direction: column;
    }

    .detailFooter {
        width: 100%;
    }

    .linksFooter {
        width: 100%;
    }

    .linksFooterUnit {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}